<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2018-08-03-helloworld.md</key>
			<dict>
				<key>lastModification</key>
				<real>555076048.67498803</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-08-04-booklist.md</key>
			<dict>
				<key>lastModification</key>
				<real>555076048.67498899</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-08-04-coding-theory-intro.md</key>
			<dict>
				<key>lastModification</key>
				<real>555079696.287637</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2018-08-04-coding-theory-scripts.md</key>
			<dict>
				<key>lastModification</key>
				<real>555076876.62551796</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>2018-08-04-poetry-recs.md</key>
			<dict>
				<key>lastModification</key>
				<real>555076606.27371597</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>2018-08-04-todo.md</key>
			<dict>
				<key>lastModification</key>
				<real>555079707.96387196</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>2018-08-05-arctic.md</key>
			<dict>
				<key>lastModification</key>
				<real>555168622.19650698</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>2018-08-05-number-theory-scripts.md</key>
			<dict>
				<key>lastModification</key>
				<real>555258388.12470305</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>2018-08-06-local-eating.md</key>
			<dict>
				<key>lastModification</key>
				<real>555245491.36966395</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>2018-08-10-a-quiet-place-review.md</key>
			<dict>
				<key>lastModification</key>
				<real>555593719.54328597</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>49</integer>
				</dict>
			</dict>
			<key>2018-08-12-abortion-measures.md</key>
			<dict>
				<key>lastModification</key>
				<real>555773731.78672695</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>53</integer>
				</dict>
			</dict>
			<key>2018-08-13-elliptic-curve.md</key>
			<dict>
				<key>lastModification</key>
				<real>555856631.50646198</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>72</integer>
				</dict>
			</dict>
			<key>2018-08-15-selling-notes.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>557061210.85600305</real>
				<key>lastModification</key>
				<real>557061210.85600305</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>92</integer>
				</dict>
			</dict>
			<key>2018-08-17-krissy-kay-kola-kueen.md</key>
			<dict>
				<key>lastModification</key>
				<real>556162086.27941799</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>82</integer>
				</dict>
			</dict>
			<key>2018-08-18-group.md</key>
			<dict>
				<key>lastModification</key>
				<real>556468913.61398995</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>88</integer>
				</dict>
			</dict>
			<key>2018-08-27-evs.md</key>
			<dict>
				<key>lastModification</key>
				<real>557061299.485641</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>99</integer>
				</dict>
			</dict>
			<key>2018-08-28-tennessee-williams.md</key>
			<dict>
				<key>lastModification</key>
				<real>557147902.59775603</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>Sin título.md</key>
			<dict>
				<key>lastModification</key>
				<real>557225534.63009596</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>106</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2018-08-03-helloworld.md</string>
		</array>
		<array>
			<string>2018-08-04-booklist.md</string>
		</array>
		<array>
			<string>2018-08-04-poetry-recs.md</string>
		</array>
		<array>
			<string>2018-08-04-coding-theory-scripts.md</string>
		</array>
		<array>
			<string>2018-08-04-coding-theory-intro.md</string>
		</array>
		<array>
			<string>2018-08-04-todo.md</string>
		</array>
		<array>
			<string>2018-08-05-arctic.md</string>
		</array>
		<array>
			<string>2018-08-05-number-theory-scripts.md</string>
		</array>
		<array>
			<string>2018-08-06-local-eating.md</string>
		</array>
		<array>
			<string>2018-08-10-a-quiet-place-review.md</string>
		</array>
		<array>
			<string>2018-08-12-abortion-measures.md</string>
		</array>
		<array>
			<string>2018-08-13-elliptic-curve.md</string>
		</array>
		<array>
			<string>2018-08-15-selling-notes.md</string>
		</array>
		<array>
			<string>2018-08-17-krissy-kay-kola-kueen.md</string>
		</array>
		<array>
			<string>2018-08-18-group.md</string>
		</array>
		<array>
			<string>2018-08-27-evs.md</string>
		</array>
		<array>
			<string>2018-08-28-tennessee-williams.md</string>
		</array>
		<array>
			<string>Sin título.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
			<integer>106</integer>
		</dict>
	</dict>
</dict>
</plist>
