// COLORS
main = #2B007B;
mainHover = rgba(31, 75, 137, 0.42);
hover = darken(main, 50%)
mainLight = #2F89FC
sec  = #FFFFFF
lightGray = #F2F2F2
texts = #333333
colorcode = #020E77
blackBase =  #2F2F33
neotree = #030333
// Resolution
cut = 37.5rem
